dash==2.17.1
dash_bootstrap_components==1.6.0
numpy==1.26.0
pandas==2.2.2
pandas_ta==0.3.14b0
plotly==5.22.0
Requests==2.32.3
scikit_learn==1.5.1
tensorflow==2.16.2
tensorflow_intel==2.16.2
xgboost==2.1.0