body {
    background-color: white;
    margin: 0;
}

.header {
    user-select: none;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 12px 20px;
    text-align: center;
    font-weight: bold
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center
}